# Compiled class file
*.class

# Log file
*.log

### Maven ###
target/

.settings/
.mvn\

.classpath
.factorypath
.project

# Ignore Maven's local repository
.mvn/

# Ignore Maven wrapper files
.mvn/wrapper/

HELP.md

